*{
    padding: 0;
    margin: 0;
}
*{
    padding: 0;
    margin: 0;
}
.container{
    max-width: 1110px;
    width: 100%;
    margin: auto;
}
:root{
    --font-family:'Nunito', sans-serif;
}
body{
    /* overflow-x: hidden; */
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10000;
    transition: 0.3s;
    padding: 35px 0 0 0;
}
.main{
    background:linear-gradient(127deg, #384dffbf 0%, #24CDFF 91%),url(../images/welcome.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    /* height: 629px; */
    position: relative;
    overflow: hidden;
    padding-top: 102px;
    padding-bottom: 50px;
}
.menu-mobile{
    display: none;
}
.mobile-menu{
    display: none;
    background: white;
    position: absolute;
    top: 90px;
    z-index: 10000;
    width: 81%;
    margin: auto;
    left: 0;
    right: 0;
  }
  .logo-main{
    height: 55px;
}
.mobile-menu>li>a {
    color: #3B566E !important;
    font-weight: 700;
    font-size: 14px;
    font-family: var(--font-family);
}
.mobile-menu>li {
    padding: 22px 0 0 23px;
    border-bottom: 1px solid #F5F5F5;
}
.main-href>i{
    color: white;
}
#nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 40px;
    height: 45px;
    position: relative;
    /* margin: 50px auto; */
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
#nav-icon3 span:nth-child(1) {
    top: 0px;
  }
#nav-icon1 span, #nav-icon3 span, #nav-icon4 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 10px;
}
  
  #nav-icon3 span:nth-child(4) {
    top: 22px;
  }
  
  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  
  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  
  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  
  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
  .mobile-menu>li>a,.dasketop-menu>li>a{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    text-decoration: none;
}
.main-href>a,.main-href>span{
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    font-family: var(--font-family);
    text-decoration: none;
}
.logo-main>img{
    position: absolute;
    left: 0;
    top: 0;
}
.main::before{
    /* content: ''; */
    position: absolute;
    width: 100%;
    height: 116%;
    opacity: 0.85;
    background-image: linear-gradient(127deg, #384DFF 0%, #24CDFF 91%);
    z-index: 3;

}
.main>h2{
    font-weight: 400;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 1.4px;
    font-family: var(--font-family);
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}
.white-main-bg{
    position: absolute;
    bottom: -12px;
    left: 0;
    width: 100%;
    z-index: 1;
}
.mobile-menu>li>a,.dasketop-menu>li>a{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    text-decoration: none;
}
.login-btn{
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
    line-height: 36px;
    text-decoration: none;

    border: 1px solid #fff;
    width: 140px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    transition: 0.3s;
}
.login-btn:hover{
    background: #fff;
    color: #4886FF!important;
    transition: 0.3s;
}
.container{
    max-width: 1110px;
    width: 100%;
    margin: auto;
}
:root{
    --font-family:'Nunito', sans-serif;
}

/*chek box*/
.checkbox {
    /* display: flex;
    align-items: center; */
    /* font-size: 2rem; */
    cursor: pointer;
    /* width: 20rem; */
  }
  .checkbox input {
    display: none;
  }
  .checkbox input:checked ~ .checkbox__mark svg {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  .checkbox__mark {
    /* margin-right: 0.5rem; */
    position: relative;
    width: 21px;
    height: 21px;
    background: #F3F3F3;
    border-radius: 5px;
    margin: 0 10px 0 0px;
  }
  .checkbox__mark svg {
    position: absolute;
  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    width: 80%;
    height: auto;
    transition: all ease 0.2s;
    opacity: 0;
  }
  .checkbox--disabled {
    color: grey;
    pointer-events: none;
  }
  .checkbox--disabled .checkbox__mark {
    border-color: grey;
  }
  .checkbox--disabled .checkbox__mark {
    border-color: grey;
  }
/*chek box end*/
.login{
    padding: 30px 0;
}
.login>h2{
    font-weight: 700;
    font-size: 40px;
    color: #3B566E;
    line-height: 1.5;
    font-family: var(--font-family);
    padding: 20px 0 46px 0;
    border-bottom: 1px solid #E9ECEF;
    text-align: center;
    margin-bottom: 20px;
}
.login>p{
    font-size: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    color: #637C93;
    font-family: var(--font-family);
    margin-bottom: 20px;
    text-align: center;
}
.login-form>label{
    font-size: 15px;
    padding-bottom: 15px;
    font-weight: 400;
    color: #637C93;
    font-family: var(--font-family); 
}
.login-form>label>input{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 14px;
    box-sizing: border-box;
    line-height: 1.5;
    color: #6f6f6f;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin-top: 15px;
    outline: none;
}
.login-form>label>input::placeholder{
    font-size: 14px;
    line-height: 1.5;
    color: #6f6f6f;
    font-family: var(--font-family);
    font-weight: 400;
}
.checkbox>p{
    font-size: 15px;
    font-weight: 400;
    color: #637C93;
    font-family: var(--font-family);
}
.checkbox>p>a{
    font-size: 15px;
    font-weight: 400;
    font-family: var(--font-family);
    color: #4886FF;
}
.forget-check>a{
    font-size: 14px;
    line-height: 1.5;
    color: #6f6f6f;
    font-family: var(--font-family);
    font-weight: 400;
    text-decoration: none;  
}
.forget-check{
    margin-bottom: 15px;
}
.button-form{
    display: block;
    width: 225px;
    height: 45px;
    line-height: 45px;
    color: #4886FF;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.81px;
    border: 1px solid #4886FF;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    background: none;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    text-align: center;
    cursor: pointer;
    transition: 0.3s;
    margin: auto;
    margin-bottom: 15px;
}
.button-form:hover{
    color: white;
    background: #4886FF;
    transition: 0.3s;
}
.form-text,.form-text>a{
    font-size: 14px;
    line-height: 1.5;
    color: #6f6f6f;
    font-family: var(--font-family);
    font-weight: 400;
    text-align: center;
}
.form-text>a{
    margin: 0 0 0 15px;
    color: #4886FF;
}
footer{
    background: #F4F8FB;
    padding: 80px 0 40px 0;
}
.footer-logo>p{
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    line-height: 26px;
    letter-spacing: 0.88px;
    font-family: var(--font-family);
    margin-top: 20px;
}
.footer-menu>p{
    font-weight: 400;
    font-size: 16px;
    color: #3B566E;
    letter-spacing: 0.69px;
    line-height: 30px;
    margin-bottom: 30px;
    font-family: var(--font-family);
    margin-bottom: 50px;
}
.footer-menu>li>a>i{
    transition: 0.3s;
    margin: 0 15px 0 0;
    line-height: 32px;
    margin-right: 12px;
    font-size: 14px;
    color: #3B566E;
}
.footer-menu>li>a{
    line-height: 32px;
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    font-family: var(--font-family);
    text-decoration: none;
}
.footer-menu>li{
    line-height: 32px;
    font-weight: 400;
    font-size: 14px;
    color: #6F8BA4;
    font-family: var(--font-family);
    max-width: 271px; 
}
.footer-menu>li:hover .footer-menu>li>a>i{
    margin: 0 20px 0 0 ;
    transition: 0.3s;
}
.footer-menu{
    align-self: baseline;
}
.footer-bottom{
    padding: 35px  0 0 0;
    margin-top: 30px;
    border-top: 1px solid #DAE6FD;
}
.footer-bottom>p{
    text-align: center;

    padding-top: 30px;
    font-weight: 400;
    font-size: 14px;
    font-family: var(--font-family);
    color: #6F8BA4;
    letter-spacing: 0.88px;
}
